<!DOCTYPE html>


<!DOCTYPE html>
<html class="ua-linux ua-ff41" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="提供日常测试工具，讨论平台，以及RV独特的文化生活。" name="description">
    <title>RV</title>
    <script src="/static/js/piwik.js" async="" defer="" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/_init_.css">
    <link rel="stylesheet" href="/static/css/anonymous_home.css">
    <!-- COLLECTED CSS -->
    <script async="true" src="http://www.google-analytics.com/ga.js"></script>
</head>
<body>
    <div id="anony-nav">

    <div class="anony-nav-links">
        <ul>
        <li> <a target="_blank" class="lnk-book" href="/notFound">技术</a></li>
        <li> <a target="_blank" class="lnk-movie" href="/notFound">生活</a></li>
        <li> <a target="_blank" class="lnk-music" href="/work/">工作</a></li>
        <li> <a target="_blank" class="lnk-group" href="/tool/">工具</a></li>
        <li> <a target="_blank" class="lnk-events" href="/ftp">FTP</a></li>
        <li> <a target="_blank" class="lnk-events" href=/notFound></a></li>

        </ul>
    </div>

    <h1><a href="http://www.douban.com">RV</a></h1>

    <div class="anony-srh">
    <form action="http://www.douban.com/search" method="get">
      <span class="inp"><input maxlength="60" size="12" placeholder="书籍、电影、音乐、小组、小站、成员" name="q" autocomplete="off" type="text"></span>
    <span class="bn"><input value="搜索" type="submit"></span>
    </form>
    </div>


        <div class="wrapper"></div>


        <link type="text/css" rel="stylesheet" href="http://img3.douban.com/f/shire/ae32cb8310a09ba836b958b79d2cd1e706db2fed/css/ui/dialog.css"></link>
    </body>
</html>

